<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
	<![endif]-->
<!--[if IE 7]>
	<html class="no-js lt-ie9 lt-ie8">
		<![endif]-->
<!--[if IE 8]>
		<html class="no-js lt-ie9">
			<![endif]-->
<!--[if gt IE 8]>
			<html class="no-js">
				<![endif]-->
<html lang="en-us" class="cl-w-full cl-h-full cl-overflow-x-hidden">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-YH5N89E3L8"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'G-YH5N89E3L8');
        </script>
        <meta name="keywords" content="Free, Online, virtual, tutoring, help, San Francisco, High School, k-8, students">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Virtual Tutoring SF | Welcome</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./static/assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./static/assets/favicons/favicon-16x16.png">
        <link rel="manifest" href="./static/assets/favicons/site.webmanifest">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;500&family=Inter:wght@500&family=Montserrat&family=Poppins:wght@500&display=swap" rel="stylesheet">
    </head>

    <body class="cl-relative cl-z-1 cl-w-full cl-h-full cl-overflow-x-hidden">
        <!--[if lt IE 7]>
																		<p class="browsehappy">You are using an 
															
														
																			<strong>outdated</strong> browser. Please 
															
														
																			<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">upgrade your browser</a> to improve your experience.
														
													
																		</p>
																		<![endif]-->
        <div>
            <nav class="cl-absolute cl-flex cl-w-full cl-items-center cl-z-20">
                <div class="cl-mt-3 cl-ml-3">
                    <a href="./index.html">
                        <img class="cl-w-3/5" src="./static/assets/logo.png">
                    </a>
                </div>
                <div class="cl-ml-auto cl-mr-4 cl-mt-3">
                    <ul class="cl-hidden sm:cl-block cl-list-none child:cl-inline child:cl-mx-2 cl-text-xl">
                        <li>
                            <a href="./index.html">
                                <span class="cl-active cl-border-b-2 cl-border-[#ffd8b7]">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="./tutors.html">
                                <span>Tutors</span>
                            </a>
                        </li>
                        <li>
                            <a href="./students.html">
                                <span>Students</span>
                            </a>
                        </li>
                        <li>
                            <a href="./about.html">
                                <span>About</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://gofund.me/47bcb8fd">
                                <span class="cl-dono cl-bg-orange-300 cl-py-3 cl-px-5 cl-rounded-full">Donate</span>
                            </a>
                        </li>
                    </ul>
                    <div class="cl-block sm:cl-hidden">
                        <button onclick="lib.openMenuDropdown()">
                            <img class="cl-w-10 cl-aspect-square" src="./static/assets/menu-dropdown.svg">
                        </button>
                    </div>
                    
                    <div class="cl-email cl-hidden cl-fixed cl-z-10 cl-inset-0 cl-bg-gray-500 cl-bg-opacity-75 cl-items-center cl-justify-center" id="popup">
                        <div class="cl-bg-amber-50 cl-p-8 cl-mx-5 cl-rounded-3xl cl-relative cl-h-fit cl-w-fit">
                            <button class="cl-absolute cl-top-0 cl-right-0 cl-m-4 cl-text-gray-500 cl-hover:text-gray-700 cl-focus:outline-none">
                                <span class="cl-h-6 cl-w-6 cl-fill-current">
                                    ✖
                                </span>
                            </button>
                            <div class="cl-flex cl-flex-col cl-justify-center cl-items-center cl-h-full cl-my-5">
                            <br>
                            <div class="cl-flex cl-justify-center">
                            <p class="cl-email-header cl-text-4xl cl-text-center"><b>Join our email list!</b></p>
                            </div>
                            <br>
                            <div class="cl-flex cl-justify-center">
                            <p class="cl-email-content cl-text-xl cl-text-gray-600 cl-text-center">Stay updated about our program and registration dates!</p>
                            </div>
                            <div class="cl-flex cl-justify-center cl-pt-9">
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSe0mOaHCm2PNWNRICZ-3UuUCvQL2LelGEodFZrskC0-N1ODig/viewform" target="_blank" class="cl-underline cl-block cl-mt-4 cl-content-center">
                                <button class="cl-button-sign-up cl-bg-amber-200 cl-rounded-2xl cl-py-6 cl-px-12 cl-text-2xl">
                                    Sign up
                                </button>
                            </a>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="cl-menu-dropdown cl-hide cl-absolute cl-top-0 cl-right-0 cl-w-screen cl-h-screen cl-bg-[#f1c590] cl-z-50">
                        <div class="cl-text-center cl-my-3 cl-mt-64">
                            <h2 class="cl-text-5xl cl-mb-6 cl-font-bold">Menu</h2>
                            <ul class="cl-text-2xl child:cl-my-3">
                                <li class="cl-active">
                                    <a href="./index.html">
                                        <span>Home</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="./tutors.html">
                                        <span>Tutors</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="./students.html">
                                        <span>Students</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="./about.html">
                                        <span>About</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://gofund.me/47bcb8fd">
                                        <span class="cl-dono cl-bg-orange-400 cl-py-3 cl-px-5 cl-rounded-full">Donate</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="cl-absolute cl-top-0 cl-right-0">
                            <div class="cl-mr-4 cl-mt-3">
                                <button onclick="lib.closeMenuDropdown()">
                                    <img class="cl-w-10 cl-aspect-square" src="./static/assets/menu-dropdown-exit.svg">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <main>
                <div>
                    <div class="cl-block cl-relative sm:cl-flex cl-mx-auto cl-pt-32 cl-w-full sm:cl-w-3/4 cl-flex-wrap cl-items-center sm:cl-pt-48">
                        <div class="cl-w-full sm:cl-w-1/2 cl-text-center sm:cl-text-left cl-text-peach2">
                            <h1 class="sm:cl-text-[6rem] cl-text-7xl cl-font-semibold -cl-mx-full sm:cl-mx-0">Welcome.</h1>
                            <div class="sm:cl-text-5xl cl-text-4xl cl-mx-2 sm:cl-mx-0">
                                <br>Free online tutoring <br class="inline sm:block"> for students by <br class="inline sm:block"> students.
                            </div>
                        </div>
                        <div class="cl-hidden sm:cl-block cl-w-1/2 cl-content-center">
                            <img class="cl-mx-auto" src="./static/assets/home-image.svg" onerror="this.src=''">
                        </div>
                        <div class="cl-hidden sm:cl-block cl-w-1/2"></div>
                        <div class="cl-flex cl-w-full sm:cl-w-1/2 cl-mt-10 child:child:cl-bg-red1 child:child:cl-text-white child:child:cl-rounded-full">
                            <div class="cl-mr-auto cl-ml-auto">
                                <button class="cl-enroll sm:cl-px-6 sm:cl-py-5" onclick="window.location.href='./students.html'">Enroll as Student</button>
                            </div>
                            <div class="cl-ml-auto cl-mr-auto">
                                <button class="cl-enroll sm:cl-px-6 sm:cl-py-5" onclick="window.location.href='./tutors.html'">Enroll as Tutor</button>
                            </div>
                        </div>
                    </div>
                    <div class="cl-flex cl-flex-col cl-mx-auto cl-w-9/12 sm:cl-bg-peach1 sm:cl-mt-96 sm:cl-w-[80%] sm:cl-px-14 sm:cl-py-8 sm:cl-rounded-[2rem]">
                        <h2 class="sm:cl-block cl-hidden cl-text-5xl cl-font-extrabold cl-text-center">Annoucements</h2>
                    </div>
                    <div class="cl-block sm:cl-flex cl-text-center sm:cl-text-left cl-mx-auto sm:cl-my-16 cl-my-32 cl-w-9/12 child:cl-mx-0 child:sm:cl-mx-4">
                        <div class="cl-hidden sm:cl-flex cl-w-1/2 cl-flex-col cl-h-full cl-my-auto">
                            <h2 class="sm:cl-font-[500] cl-font-medium cl-text-5xl sm:cl-text-6xl cl-mb-6 cl-text-left cl-text-yellow-500">Summer Session!</h2>
                            <p class="cl-text-[1.5rem]">The summer semester is focused on preparing students for their next year classes. Tutors will be working with a small group of students to accelerate their learning in the respective subject, giving students a head start.</p>
                        </div>
                        <div class="cl-w-full sm:cl-w-1/2 cl-flex cl-flex-col cl-items-center">
                            <div class="cl-flex sm:cl-hidden cl-w-full cl-flex-col cl-h-full cl-my-auto">
                                <h2 class="cl-self-center cl-font-medium cl-text-5xl cl-mt-3 cl-mb-4 cl-text-green1">Summer Session!</h2>
                                <p class="cl-mb-4 sm:cl-text-2xl">The summer semester is focused on preparing students for their next year classes. Tutors will be working with a small group of students to accelerate their learning in the respective subject, giving students a head start.</p>
                            </div>
                            <div>
                                <img class="cl-w-30rem" src="./static/assets/summerVTSFTutors.png">
                            </div>
                        </div>
                    </div>
                    <div class="sm:cl-hidden cl-flex cl-flex-col cl-mx-auto cl-mb-32 sm:cl-mb-44 cl-w-9/12 sm:cl-bg-peach1 sm:cl-w-[80%] sm:cl-px-40 sm:cl-py-28 sm:cl-rounded-[4rem]">
                        <h2 class="cl-text-5xl cl-font-extrabold cl-mb-5 cl-text-center sm:cl-text-left">Our Origin and Mission</h2>
                        <div class="cl-flex cl-flex-col cl-mt-8 cl-text-xl sm:cl-grid sm:cl-grid-cols-2 sm:cl-gap-7 child:cl-flex child:cl-mb-5 child:cl-sm:cl-mb-0 child:child:cl-mx-2">
                            <div>
                                <h3 class="cl-select-none">1.</h3>
                                <p>We began helping students grades 3-8 stay academically engaged in Math and English by providing free online tutoring during the unprecedented pandemic.</p>
                            </div>
                            <div>
                                <h3 class="cl-select-none">2.</h3>
                                <p>As students who witnessed the loss of learning in online classes due to the pandemic, we recognized the need to close the learning gap. Online learning in a class setting has its challenges as teachers reduce their curriculums, and it becomes hard to gauge students' understanding.</p>
                            </div>
                            <div>
                                <h3 class="cl-select-none">3.</h3>
                                <p>Our solution was to help students stay academically engaged through tutoring in small class settings. As schools are forced to continue online in the fall, we decided to extend our summer program for the remainder of the year. However, we did not stop there. As we got more experienced, we noticed that students were still struggling and tutoring was crucial to help them catch up. Because of that, we're still here today.</p>
                            </div>
                            <div>
                                <h3 class="cl-select-none">4.</h3>
                                <p>Currently, our goal during the Fall and Spring semesters are to to help students stay on pace, reinforce concepts, and possibly even learn ahead. Our summers are dedicated to preparing students for their future school year and make sure they have a smooth-sailing year.</p>
                            </div>
                        </div>
                    </div>
                    <div class="cl-flex cl-flex-col cl-mx-auto cl-w-9/12 sm:cl-bg-peach1 sm:cl-w-[80%] sm:cl-px-14 sm:cl-py-8 sm:cl-rounded-[2rem]">
                        <h2 class="cl-hidden sm:cl-block cl-text-5xl cl-font-extrabold cl-text-center">Our Origin and Mission</h2>
                    </div>
                    <div class="cl-container sm:cl-block cl-hidden">
                        <div class="cl-rightbox">
                            <div class="cl-rb-container">
                                <ul class="cl-rb">
                                    <li class="cl-rb-item" ng-repeat="itembx">
                                        <div class="cl-timestamp"> April 2020 </div>
                                        <div class="cl-item-title">As students who witnessed the <b>loss of learning</b> in online classes due to the pandemic, we recognized the need to close the learning gap. Online learning in a class setting has its challenges as teachers reduce their curriculums, and it becomes hard to gauge students' understanding.</div>
                                    </li>
                                    <li class="cl-rb-item" ng-repeat="itembx">
                                        <div class="cl-timestamp"> August 2020 </div>
                                        <div class="cl-item-title">Our solution was to help students stay academically engaged through tutoring in small class settings. We began helping students grades 3-8 <b>stay academically engaged</b> in Math and English by providing free online tutoring during the unprecedented pandemic. As schools are forced to continue online in the fall, we decided to extend our summer program for the remainder of the year.</div>
                                    </li>
                                    <li class="cl-rb-item" ng-repeat="itembx">
                                        <div class="cl-timestamp"> August 2021 </div>
                                        <div class="cl-item-title">However, <b>we did not stop there</b>. As we got more experienced, we noticed that students were still struggling and tutoring was crucial to help them catch up. Because of that, we're still here today.</div>
                                    </li>
                                    <li class="cl-rb-item" ng-repeat="itembx">
                                        <div class="cl-timestamp"> Present </div>
                                        <div class="cl-item-title">Currently, our goal during the Fall and Spring semesters are to to help students stay on pace, reinforce concepts, and possibly even <b>learn ahead</b>. Our summers are dedicated to preparing students for their future school year and make sure they have a smooth-sailing year.</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h2 class="sm:cl-hidden cl-w-full cl-text-5xl cl-font-extrabold cl-text-center cl-text-black cl-mb-5 sm:cl-mb-8 sm:cl-mt-44">So far we've:</h2>
                        <div class="sm:cl-block cl-hidden -cl-flex cl-flex-col cl-mx-auto cl-w-9/12 sm:cl-bg-peach1 sm:cl-w-[80%] sm:cl-px-14 sm:cl-py-8 sm:cl-rounded-[2rem]">
                            <h2 class="cl-text-5xl cl-font-extrabold cl-text-center">Our Results</h2>
                        </div>
                        <div class="cl-grid sm:cl-grid-cols-4 cl-grid-rows-4 cl-grid-cols-1 sm:cl-grid-rows-1 sm:cl-w-[80%] sm:cl-mx-auto sm:cl-my-16">
                            <div class="cl-col-span-1 cl-flex cl-justify-center cl-align-middle sm:cl-flex cl-flex-wrap cl-text-4xl cl-mx-auto cl-mb-16 cl-w-full">
                                <div class="cl-w-full">
                                    <div class="cl-my-4">
                                        <img class="cl-w-1/3 cl-max-w-sm cl-mx-auto cl-filter-peach3" src="./static/assets/pencil.svg" onerror="this.src=''">
                                    </div>
                                    <div class="cl-text-center sm:cl-pt-3">
                                        <div class="cl-flex cl-justify-center sm:cl-text-8xl cl-text-7xl sm:cl-py-2 cl-text-peach2">7000+</div>
                                        <p>classes taught</p>
                                    </div>
                                </div>
                            </div>
                            <div class="cl-col-span-1 cl-flex cl-justify-center cl-align-middle cl-w-full sm:cl-flex cl-flex-wrap cl-text-4xl cl-mx-auto cl-mb-16">
                                <div class="cl-w-full">
                                    <div class="cl-flex cl-my-4 cl-justify-center ">
                                        <img class="cl-w-1/3 cl-max-w-sm cl-mx-auto cl-filter-peach3" src="./static/assets/person.svg" onerror="this.src=''">
                                    </div>
                                    <div class="cl-text-center sm:cl-pt-3">
                                        <div class="cl-flex cl-justify-center sm:cl-text-8xl cl-text-7xl sm:cl-py-2 cl-text-peach2">700+</div>
                                        <p>students helped</p>
                                    </div>
                                </div>
                            </div>
                            <div class="cl-col-span-1 cl-flex cl-justify-center cl-align-middle cl-w-full sm:cl-flex cl-flex-wrap cl-text-4xl cl-mx-auto cl-mb-16">
                                <div class="cl-w-full">
                                    <div class="cl-flex cl-my-4 cl-justify-center">
                                        <img class="cl-w-1/3 cl-max-w-sm cl-mx-auto cl-filter-peach3" src="./static/assets/heart.svg" onerror="this.src=''">
                                    </div>
                                    <div class="cl-text-center sm:cl-pt-3">
                                        <div class="cl-flex cl-justify-center sm:cl-text-8xl cl-text-7xl sm:cl-py-2 cl-text-peach2">>99%</div>
                                        <p>parent satisfaction</p>
                                    </div>
                                </div>
                            </div>
                            <div class="cl-col-span-1 cl-flex cl-justify-center cl-align-middle cl-w-full sm:cl-flex cl-flex-wrap cl-text-4xl cl-mx-auto cl-mb-16">
                                <div class="cl-w-full">
                                    <div class="cl-flex cl-my-4 cl-justify-center">
                                        <img class="cl-w-1/3 cl-max-w-sm cl-mx-auto cl-filter-peach3" src="./static/assets/money.svg" onerror="this.src=''">
                                    </div>
                                    <div class="cl-text-center sm:cl-pt-3">
                                        <div class="cl-flex cl-justify-center sm:cl-text-8xl cl-text-7xl sm:cl-py-2 cl-text-peach2">65%</div>
                                        <p>low-income</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sm:cl-block cl-hidden -cl-flex cl-flex-col cl-mx-auto cl-w-9/12 sm:cl-bg-peach1 sm:cl-w-[80%] sm:cl-px-14 sm:cl-py-8 sm:cl-rounded-[2rem]">
                        <h2 class="cl-text-5xl cl-font-extrabold cl-text-center">Parent Reviews</h2>
                    </div>
                    <div class="cl-flex cl-flex-col cl-mx-auto sm:cl-my-16 cl-mt-32 cl-w-9/12">
                        <h2 class="sm:cl-hidden cl-text-center cl-text-5xl cl-font-extrabold cl-mb-5">Parent Reviews</h2>
                        
                        <div class="cl-flex cl-flex-col cl-text-xl cl-mt-8 sm:cl-mt-0 child:cl-flex child:cl-mb-4 child:child:cl-mx-2 sm:cl-text-[1.5rem] sm:cl-leading-relaxed">
                            <div>
                                <h3 class="cl-select-none">●</h3>
                                <p>"Our tutor responds quick to any questions I as a parent may have. She is assertive and has great power point slides that provide sample math questions which make it fun and help my child feel engaged. Our tutor goes above and beyond and I'm happy that we are aligned on the same goals for my student!"</p>
                            </div>
                            <div>
                                <h3 class="cl-select-none">●</h3>
                                <p>"My child is able to excel in math and get more practice with our tutor when she's unclear on topics from school."</p>
                            </div>
                            <div>
                                <h3 class="cl-select-none">●</h3>
                                <p>"My daughter had a great time interacting with her teacher. My daughter felt that it was challenging yet fun at the same time. This practice over the summer has really helped her feel more confident entering her fall school year."</p>
                            </div>
                        </div>
                    </div>
                    <div class="cl-carousel-wrapper cl-relative">
                        <div class="cl-carousel cl-w-full sm:cl-w-3/4">
                            <img src="./static/assets/carousel/image1.jpg">
                            <img src="./static/assets/carousel/image2.jpg">
                            <img src="./static/assets/carousel/image3.jpg">
                            <img src="./static/assets/carousel/image4.jpg">
                            <img src="./static/assets/carousel/image5.jpg">
                            <img src="./static/assets/carousel/image6.jpg">
                            <img src="./static/assets/carousel/image7.jpg">
                            <img src="./static/assets/carousel/image8.jpg">
                            <img src="./static/assets/carousel/image9.jpg">
                            <img src="./static/assets/carousel/image10.jpg">
                            <img src="./static/assets/carousel/image11.png">
                            <img src="./static/assets/carousel/image12.jpg">
                            <img src="./static/assets/carousel/image13.png">
                            <img src="./static/assets/carousel/image14.png">
                        </div>
                        <div class="cl-bottom-icons cl-flex cl-absolute cl-w-full sm:cl-w-3/4 cl-bottom-[5%] cl-left-0 cl-right-0 cl-mx-auto cl-justify-center cl-items-center child:cl-mx-2 child:cl-bg-peach2 child:cl-w-12 child:cl-h-2"></div>
                    </div>
                </div>
            </main>
            <footer class="cl-w-full cl-px-5 cl-py-4 cl-mt-36 cl-flex cl-flex-wrap cl-bg-peach1 cl-text-peach2">
                <div class="cl-w-1/2 cl-flex cl-flex-wrap cl-flex-col">
                    <div class="cl-font-semibold cl-text-2xl">Main Menu</div>
                    <div>
                        <a href="./index.html">Home</a>
                    </div>
                    <div>
                        <a href="./students.html">Students</a>
                    </div>
                    <div>
                        <a href="./tutors.html">Tutors</a>
                    </div>
                    <div>
                        <a href="./about.html">About</a>
                    </div>
                    <div>
                        <a href="mailto:virtualtutoringsf@gmail.com">Contact</a>
                    </div>
                </div>
                <div class="cl-w-1/2 cl-flex cl-flex-wrap cl-items-start cl-content-start child:cl-mr-1">
                    <h3 class="cl-font-semibold cl-text-2xl cl-mb-2 cl-w-full">Socials</h3>
                    <a href="https://www.instagram.com/virtualtutoringsf/">
                        <img class="cl-w-8 cl-filter-peach2" src="./static/assets/instagram-logo.svg" onerror="this.src=''">
                    </a>
                    <a href="https://www.linkedin.com/company/virtual-tutoring-sf/">
                        <img class="cl-w-8 cl-filter-peach2" src="./static/assets/linkedin-logo.svg" onerror="this.src=''">
                    </a>
                </div>
                <div class="cl-w-full cl-mt-6"> © 2022 VirtualTutoringSF. All Rights Reserved </div>
            </footer>
        </div>
        <div>
            <div class="cl-hidden sm:cl-block -cl-z-10 cl-w-fit cl-h-fit cl-absolute -cl-top-30rem sm:-cl-top-40rem -cl-left-40rem">
                <div class="cl-rounded-full cl-w-1500px cl-aspect-square cl-bg-peach1"></div>
            </div>
            <div id="circle3" class="cl-block sm:cl-hidden -cl-z-10 cl-w-[1120px] cl-h-fit cl-absolute -cl-top-[35rem] cl-left-[50%] -cl-translate-x-[50%]">
                <div class="cl-rounded-full cl-w-[70rem] cl-aspect-square cl-bg-peach1"></div>
            </div>
        </div>
        <div class="cl-fixed cl-bottom-3 cl-right-3">
            <button class="cl-scroll-to-top cl-flex sm:cl-hidden cl-justify-center cl-items-center cl-rounded-full cl-w-14 cl-aspect-square cl-bg-peach1 cl-opacity-0" onclick="lib.initScrollToTop()">
                <img class="cl-w-8 cl-filter-white" src="./static/assets/up.svg" onerror="this.src=''">
            </button>
        </div>
    </body>
</html>